<div class="list-group">
    {{#each plays}}
    <div class="row">
        <div class="col-md-6">
            <button type="button" style="margin-bottom:1px" class="list-group-item playNav" id={{playId}}>{{playName}}
                <span id="badge-{{playId}}"class="badge">{{efficacy}}%</span>
            </button>
        </div>
        <div class="col-md-4">
            <button type="button" style="margin-bottom:1px" class="btn btn-sm btn-info playSuccess" id="success-{{playId}}">
                Success
            </button>
            <button type="button" style="margin-bottom:1px" class="btn btn-sm btn-danger playFailure" id="failure-{{playId}}">
                Failure
            </button>
        </div>        
    </div>       
    {{/each}}
 
</div>

<script>
    var controller = require("./lib/playbook-overview");
    $(".playNav").on("click", function() {
        controller.viewPlay(this.id, function() {

        });
    });
    $(".playSuccess").on("click", function() {
        let playId = this.id.substring(8);
        controller.logSuccess(playId, function(result) {
            $("#badge-"+playId).html(result+"%");
        })
    });
    $(".playFailure").on("click", function() {
        let playId = this.id.substring(8);
        controller.logFailure(playId, function (result) {
            $("#badge-"+playId).html(result+"%");
        })
    });
</script>